<fieldset>
  <legend>Shopping List Item</legend>
  <div class="field">
    <%= f.label :name, "Product Name:" %>
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :price, "Product Price:" %>
    <%= f.number_field :price %>
  </div>
  <%#= f.check_box :_destroy %>
  <%#= f.label :_destroy, "remove" %>
  <%= f.hidden_field :_destroy %>
  <%= link_to "Remove Product", "#", class: "remove_fields" %>
</fieldset>